@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";

*{
    font-family: 'Cabin', sans-serif;
    box-sizing: border-box;
}

html{
  background-color: hsl(216, 18%, 17%)
}

body{
    min-height: 100vh;
    background-image: url("assets/background/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #00000015;
}

::-webkit-scrollbar-thumb {
  background: hsl(216, 18%, 40%);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(3, 133, 90);
}