@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";

*{
    font-family: 'Cabin', sans-serif;
    box-sizing: border-box;
}

body{
    background-image: url("assets/background/background.png");
    background-size: cover;
}