.trening table{
    width: 100%;
    color: white;
    border: none;
    border-spacing: 0px 15px;
    border-collapse: separate;
}

.trening tr > th{
    background-color: hsl(216, 31%, 15%);
}

.trening tbody tr:last-of-type{
    border: none;
}

.trening td,th{
    padding: 0px 4px;
    border: none;
    height: 50px;
}

.trening td:not(:first-child), .trening th:not(:first-child){
    border-left: 2px solid hsl(216, 31%, 10%);
}